<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ADD CANDIDATE</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <form action="/candidates/add" method="post">
            <div class="form-group row">
                <label for="fullName" class="col-sm-2 col-form-label">Name</label>
                <div class="col-sm-5">
                    <input  type="text" placeholder="enter name" id="fullName" name="fullName" class="form-control-plaintext">
                </div>
            </div>
            <div class="form-group row">
                <label for="email" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-5">
                    <input  type="email" placeholder="enter email" id="email" name="email" class="form-control-plaintext">
                </div>
            </div>
            <div class="form-group row">
                <label for="dob" class="col-sm-2 col-form-label">Dob</label>
                <div class="col-sm-5">
                    <input  type="date" id="dob" name="dob" class="form-control-plaintext">
                </div>
            </div>
            <div class="form-group row">
                <label for="phone" class="col-sm-2 col-form-label">Phone</label>
                <div class="col-sm-5">
                    <input  type="text" placeholder="enter phone" id="phone" name="phone" class="form-control-plaintext">
                </div>
            </div>
            <div class="form-group row">
                <label for="address" class="col-sm-2 col-form-label">Address</label>
                <div class="col-sm-5">
                    <select name="address" id="address" class="form-control-plaintext">
                        <option th:each="country: ${listCountryCodes}" th:value="${country.getAlpha2()}" th:text="${country.getName()}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <button type="submit" class="btn btn-success col-sm-1 ">Add</button>
            </div>

        </form>
    </div>
</body>
</html>